.bg-tertiary {
    background-color: #FDFFA5;
}

.bg-secondary {
    background-color: #FF7A00 !important;
}

.copyright {
    background-color: #33160F;
}

.bg-primary {
    background-color: #B22222 !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}