@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.header {
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 5px 5%;
}

.header .logo {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    text-decoration: none;
}

.header .logo img {
    width: 40px;
    height: 40px;
}

.header .logo:hover {
    transform: scale(1.05);
}

.header .logo .app-name {
    margin-left: 10px;
    padding-top: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.header .nav .links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}

.header .nav .links li:hover {
    transform: scale(1.1);
}

.header .nav .links a {
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.header .nav .links li a:hover {
    color: #ffbc0e;
}


/*
    Footer
*/

.footer {
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 5px;
    position: absolute;
    margin-top: auto;
}

.footer .copyright {
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

.footer .copyright a {
    color: white;
    font-weight: 700;
    text-align: center;
    width: 100%;
}