*
!.gitignore
!641124e367d94faker_image_1.jpg
!641125c4e9fb6faker_image_3.jpg
!6411253b9040efaker_image_2.gif
!biden.jpg
!hirohito.jpg
!hitler.jpg
!kim.jpg
!mush1.png
!mush2.jpg
!putin.jpg
!user.png
!/faker
!/faker/**/*